.callout {
  background: rgba(var(--callout-color), 0.04);
  border-radius: 8px !important;
}

.callout:is([data-callout-metadata="noicon"]) .callout-title{
 margin-left: -8px;
}


body {
  --callout-border-width: 2px;
  --callout-border-opacity: 1;
}

.callout:is([data-callout-metadata="noicon"]) .callout-icon {
  display: none !important;
}